<div class="container" ng-controller="adminController">
	<form>
	  <div class="form-group">
	    <label>Enter Publisher Name</label>
	    <input class="form-control" ng-model="publisher.publisherName" >
	  </div>
  	  <div class="form-group">
	    <label>Enter Publisher Address</label>
	    <input class="form-control" ng-model="publisher.publisherAddress" >
	  </div>
  	  <div class="form-group">
	    <label>Enter Publisher Phone</label>
	    <input class="form-control" ng-model="publisher.publisherPhone">
	  </div>
	  
	  <button type="button" class="btn btn-primary" ng-click="savePublisher()">Save Publisher</button>
	</form>
</div>