<div class="container">
<h2>Hello Admin! Here what you can do</h2>
<br>
<br>
	<div class="row">
		<div class="list-group col-4">
		  <a class="list-group-item list-group-item-primary"><b>Manage Books</b></a>
		  <a href="#/admin/addbook" class="list-group-item list-group-item-action">Add new Book</a>
		  <a href="#/admin/viewbooks" class="list-group-item list-group-item-action">View Books</a>
		</div>
		<div class="list-group col-4">
		  <a class="list-group-item list-group-item-primary"><b>Manage Authors</b></a>
		  <a href="#/admin/addauthor" class="list-group-item list-group-item-action">Add new Author</a>
		  <a href="#/admin/viewauthors" class="list-group-item list-group-item-action">View Authors</a>
		</div>
		<div class="list-group col-4">
		  <a class="list-group-item list-group-item-primary"><b>Manage Publishers</b></a>
		  <a href="#/admin/addpublisher" class="list-group-item list-group-item-action">Add new Publisher</a>
		  <a href="#/admin/viewpublishers" class="list-group-item list-group-item-action">View Publishers</a>
		</div>

	</div>
	<br>
	<div class="row">
		<div class="list-group col-4">
		  <a class="list-group-item list-group-item-primary"><b>Manage Borrowers</b></a>
		  <a href="#/admin/addborrower" class="list-group-item list-group-item-action">Add new Borrower</a>
		  <a href="#/admin/viewborrowers" class="list-group-item list-group-item-action">View Borrowers</a>
		</div>
		<div class="list-group col-4">
		  <a class="list-group-item list-group-item-primary"><b>Manage Branches</b></a>
		  <a href="#/admin/addbranch" class="list-group-item list-group-item-action">Add new Branch</a>
		  <a href="#/admin/viewbranches" class="list-group-item list-group-item-action">View Branches</a>
		</div>
		<div class="list-group col-4">
		  <a class="list-group-item list-group-item-primary"><b>Manage Due Date for loans</b></a>
		  <a href="#/admin/manageduedate" class="list-group-item list-group-item-action">Change Due Date</a>
		</div>
	</div>
	
</div>